#novedades {
    background-image: url('../img/planeswalkers_image2.png');
    background-position: center;
    width: auto;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

.novedad {
    width: 700px;
    text-align: center;
    margin: 10px;
    background-color: #333;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .novedad img {
    margin-top: 25px;
    width: 100%;
    height: 400px;
  }

  .novedad p {
    font-size: 24px;
    margin-left: 60px;
    margin-right: 60px;
    color: white;
  }

  .novedad-texto {
    display: flex;
    flex: 1;
    text-align: justify;
  }

  @media only screen and (min-width: 391px) and (max-width: 991px) {

    #novedades {
      background-position: top;
      padding-top: 75px;
      padding-bottom: 75px;
    }

    .novedad img {
      margin-top: 25px;
      width: 100%;
      height: fit-content;
    }
  }

  @media only screen and (max-width: 390px) {

    #novedades {
      background-position: top;
      padding-top: 75px;
      padding-bottom: 75px;
    }

    .novedad img {
      width: 100%;
      height: fit-content;
    }

    .novedad p {
      text-align: left;
    }
  }